# ============================
# Node & Electron
# ============================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ============================
# OS & Editor
# ============================

.DS_Store
Thumbs.db
.vscode/
.idea/

# ============================
# Build Output
# ============================

dist/
build/
out/
release/

# ============================
# Electron Cache
# ============================

.cache/
.electron/
electron-cache/

# ============================
# Photobooth Captured Photos
# ============================

# assets/raw/*
# assets/final/*

# !assets/raw/
# !assets/final/

# ============================
# Environment Files
# ============================

.env
.env.local
